extends layout

// Expects these variables to be passed in by rendering function's options parameter.

block content
  // If you want a text tag to contain the string rep. of a variable, use '='
  h1= title
  // Otherwise, the templating syntax can add it.
  p Welcome to #{title}
  // We can also include code.
  ol(type="I")
    - for post in posts
      li= post
